<!-- bottem bar -->
<br>
<footer>
  <table class="table footer" style="background-color: lightblue;" >
    <tbody style="padding-top: 20px;">
      <tr>
        <th scope="row"></th>
        <td style="text-align: center; vertical-align: top;">
          <%= link_to root_path do %>
            <%= image_tag 'mymosque.png', alt: 'Home', style: 'width: 100px; height: auto;' %>
          <% end %>
          <br>
          <h2>
            Mymosque
          </h2>
        </td>
        <td>
          <h5 class="row">
            <%= link_to "About us", about_us_path, style: "color: inherit; text-decoration: none;" %>
          </h5>
          <h5 class="row">
            Careers
          </h5>
          <h5 class="row">
            Employer home
          </h5>
          <h5 class="row">
            Sitemap
          </h5>
          <h5 class="row">
            <%= link_to "Credits", credits_path, style: "color: inherit; text-decoration: none;" %>
          </h5>
        </td>
        <td>
          <h5 class="row">
            Help center
          </h5>
          <h5 class="row">
            Notices
          </h5>
          <h5 class="row">
            Grievances
          </h5>
          <h5 class="row">
            Report issue
          </h5>
        </td>
        <td>
          <h5 class="row">
            <%= link_to "Privacy policy", privacy_policies_path, style: "color: inherit; text-decoration: none;" %>
          </h5>
          <h5 class="row">
            <%= link_to "Terms & conditions", terms_and_conditions_path, style: "color: inherit; text-decoration: none;" %>
          </h5>
          <h5 class="row">
            <%= link_to "Fraud alert", terms_and_conditions_path, style: "color: inherit; text-decoration: none;" %>
          </h5>
          <h5 class="row">
            <%= link_to "Trust & safety", terms_and_conditions_path, style: "color: inherit; text-decoration: none;" %>
          </h5>
        </td>
        <td>
          <h5 class="row"> 
            Download our app from
          </h5>
        </td>
      </tr>
    </tbody>
  </table>
</footer>
<br>