<%= form_with model: @account, local: true do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, required: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, required: true %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, required: true %>
  </div>

  <div class="field">
    <%= f.label :role_id, "Role" %>
    <%= f.collection_select :role_id, Role.all, :id, :name, prompt: "Select Role" %>
  </div>

  <div class="field">
    <%= f.label :approved %>
    <%= f.check_box :approved %>
  </div>

  <div class="actions">
    <%= f.submit "Save Account" %>
  </div>
<% end %>
